@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background: linear-gradient(179.7deg, rgb(197, 214, 227) 2.9%, rgb(144, 175, 202) 97.1%);  
  }
 
  @keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }
 
  .loading-spinner {
    border: 2px solid rgba(0,0,0,0.1);
    border-radius: 50%;
    border-top: 4px solid #3498db;
    width: 25px;
    height: 25px;
    animation: spin 1s linear infinite;
  }